{% load static %}
<!DOCTYPE html>
<html lang="en-us">
  <head>

  {# Meta Section #}
  {% include 'common/metas.html' %}
  {% block head_meta %}
  {% endblock head_meta %}

  <title>
    {% block title %}
    Python PH
    {% endblock title %}
  </title>

  {# Fonts Section #}
  {% include 'common/fonts.html' %}
  {% block head_fonts %}
  {% endblock head_fonts %}

  {# Styles Section #}
  {% block head_styles %}
  {% include 'common/styles.html' %}
  {% endblock head_styles %}

  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {# Django JS Reverse #}
  {% comment %}
    Put this here so that it will be accessible already for the Vue components
  {% endcomment %}
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

  </head>
<body>

{% block body %}

    {% block header %}
    {% include 'common/header.html' %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% include 'common/footer.html' %}
    {% endblock footer %}
{% endblock body %}

{# JS Section #}
{% include 'common/scripts.html' %}
{% block scripts %}
{% endblock scripts %}

</body>
</html>
